/* 
TASKS
1. Apply style to your output from Lab Exercise 1 and 2 (Resume and Contact Form)
2. Use a linked CSS file that contains all your style rules. (filename: style.css)
3. You should modify the following:
a. Heading (Color/Font Family etc.)
b. Input fields
c. Text
d. Lists
e. Table
f. Background color
g. Padding and background color of buttons
h. Links to your social media accounts
*/

html
{
		background-color: beige;
}
head
{

}
header
{
	font-family: bradley-hand;

}
.line{
	border-left: 6px solid black;
	height: 80%;
 	position: absolute;
 	border-radius: 50px;
 	line-height:100%;
 	left: 8%;
}

.horizontal_line {
    width: 100%;
    height: 1%;
    border-top: 5px solid black;
    line-height: 70%;
    position: absolute;
}

.bodyindex
{
	background-color: beige;
	font-family: sans-serif;
	position: absolute;
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 80px;
	letter-spacing: 1px;
	height: auto;
	width: 60%;
	transform: translate(-45%, -50%);
	left: 50%;
	top: 80%;
	box-shadow: 2px 2px 14px 10px #eeeaea;
	border: 5px solid gray;
}

.Programmingskill ul{
}
hr{
  border: 2px solid black;
  border-radius: 10px;
}
img
{
	border-radius: 400px;
	border: 10px solid #ddd;
	padding: 5px;
	width: 10%;
}

.Form
{

	font-family: sans-serif;
	position: absolute;
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 80px;
	letter-spacing: 1px;
	height: auto;
	width:800px;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	box-shadow: 2px 2px 14px 10px #eeeaea;
	border: 5px solid gray;
	border-radius: 50px;
}
.submit [type=submit]{
  background-color: seagreen;
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
}
.reset [type=reset]{
  background-color: indianred; 
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
}
.name [type=name]
{
  padding:5px;
     padding-right:100px;
  border-radius:5px;
    font-size: 16px;

}
.email [type=email]
{
  padding:5px;
  padding-right:100px;
  border-radius:5px;
  font-size: 16px;

}
.Message [type=text]
{
  font-size: 16px;
    padding:10px;
  border-radius: 5px;
  height: 100;
  width: 80%;

}